@{
    ViewData["Title"] = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css" type="text/css" />
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/three.min.js"></script>
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js"></script>
    <script src="js/forge.js"></script>
    <script src="js/AttributeApplication.js"></script>
    <script src="js/AttributeExtension.js"></script>

    <title>BDE</title>
</head>
<body>
    <div>
        <div id="MyViewerDiv" style="height: 850px; width: 100%; background-image: url('images/loadingAnimation.gif'); background-repeat: no-repeat; background-size: contain; background-position: center; background-color: #ffffff; position: relative; margin-top: 50px"></div>
    </div>
</body>

</html>
<script type="text/javascript">
    var urn = "@Model";
    showModel(urn);
</script>